body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Quadro-de-texto-b-sico {
	border-style:solid;
}
p.Par-grafo-b-sico {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ParaOverride-1 {
	-epub-hyphens:none;
}
span.CharOverride-1 {
	font-family:"Baloo Bhai 2", sans-serif;
	font-size:32px;
	font-variation-settings:"wght" 500;
}
#_idContainer000 {
	display:inline-block;
	height:1201px;
	width:1474px;
}
#_idContainer001 {
	display:inline-block;
	height:4362px;
	width:1080px;
}
#_idContainer002 {
	display:inline-block;
	height:864px;
	width:1080px;
}
#_idContainer003 {
	display:inline-block;
	height:1803px;
	width:1080px;
}
#_idContainer004 {
	display:inline-block;
	height:83px;
	width:417px;
}
#_idContainer006 {
	display:inline-block;
	height:102px;
	width:823px;
}
#_idContainer007 {
	display:inline-block;
	height:251px;
	width:818px;
}
#_idContainer008 {
	display:inline-block;
	height:101px;
	width:826px;
}
#_idContainer009 {
	display:inline-block;
	height:100px;
	width:820px;
}
#_idContainer010 {
	-ms-transform:translate(0.000px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:21.61px;
	z-index:31;
}
#_idContainer011 {
	-ms-transform:translate(30.676px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(30.676px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(30.676px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(30.676px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:19.78px;
	z-index:32;
}
#_idContainer012 {
	-ms-transform:translate(57.290px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(57.290px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(57.290px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(57.290px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:20.37px;
	z-index:33;
}
#_idContainer013 {
	-ms-transform:translate(85.640px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(85.640px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(85.640px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(85.640px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:17.28px;
	z-index:34;
}
#_idContainer014 {
	-ms-transform:translate(111.723px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(111.723px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(111.723px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(111.723px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:19.78px;
	z-index:35;
}
#_idContainer015 {
	-ms-transform:translate(159.298px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(159.298px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(159.298px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(159.298px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:17.55px;
	z-index:36;
}
#_idContainer016 {
	-ms-transform:translate(187.648px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(187.648px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(187.648px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(187.648px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.34px;
	z-index:37;
}
#_idContainer017 {
	-ms-transform:translate(212.583px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(212.583px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(212.583px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(212.583px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.10px;
	z-index:38;
}
#_idContainer018 {
	-ms-transform:translate(235.782px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(235.782px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(235.782px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(235.782px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.10px;
	z-index:39;
}
#_idContainer019 {
	-ms-transform:translate(258.981px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(258.981px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(258.981px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(258.981px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.34px;
	z-index:40;
}
#_idContainer020 {
	-ms-transform:translate(269.126px,224.882px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(269.126px,224.882px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(269.126px,224.882px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(269.126px,224.882px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.30px;
	z-index:0;
}
#_idContainer021 {
	-ms-transform:translate(283.916px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(283.916px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(283.916px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(283.916px,114.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:17.55px;
	z-index:41;
}
#_idContainer022 {
	-ms-transform:translate(289.201px,225.269px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(289.201px,225.269px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.15px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(289.201px,225.269px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(289.201px,225.269px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:6.91px;
	z-index:1;
}
#_idContainer023 {
	-ms-transform:translate(292.150px,12.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(292.150px,12.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.55px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(292.150px,12.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(292.150px,12.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.13px;
	z-index:24;
}
#_idContainer024 {
	-ms-transform:translate(297.648px,8.396px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(297.648px,8.396px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:171.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(297.648px,8.396px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(297.648px,8.396px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:63.15px;
	z-index:11;
}
#_idContainer025 {
	-ms-transform:translate(302.838px,5.929px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(302.838px,5.929px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(302.838px,5.929px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(302.838px,5.929px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:5.49px;
	z-index:28;
}
#_idContainer026 {
	-ms-transform:translate(308.181px,224.387px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(308.181px,224.387px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(308.181px,224.387px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(308.181px,224.387px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:5.35px;
	z-index:2;
}
#_idContainer027 {
	-ms-transform:translate(317.620px,58.860px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(317.620px,58.860px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.55px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(317.620px,58.860px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(317.620px,58.860px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:13.40px;
	z-index:15;
}
#_idContainer028 {
	-ms-transform:translate(318.276px,23.395px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(318.276px,23.395px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(318.276px,23.395px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(318.276px,23.395px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.70px;
	z-index:19;
}
#_idContainer029 {
	-ms-transform:translate(324.348px,36.612px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(324.348px,36.612px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(324.348px,36.612px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(324.348px,36.612px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.25px;
	z-index:30;
}
#_idContainer030 {
	-ms-transform:translate(325.250px,224.882px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(325.250px,224.882px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(325.250px,224.882px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(325.250px,224.882px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.30px;
	z-index:3;
}
#_idContainer031 {
	-ms-transform:translate(325.360px,38.961px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(325.360px,38.961px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(325.360px,38.961px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(325.360px,38.961px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.62px;
	z-index:20;
}
#_idContainer032 {
	-ms-transform:translate(335.992px,1.416px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(335.992px,1.416px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:177.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(335.992px,1.416px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(335.992px,1.416px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:98.77px;
	z-index:10;
}
#_idContainer033 {
	-ms-transform:translate(339.481px,69.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(339.481px,69.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(339.481px,69.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(339.481px,69.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.43px;
	z-index:17;
}
#_idContainer034 {
	-ms-transform:translate(340.973px,70.048px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(340.973px,70.048px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(340.973px,70.048px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(340.973px,70.048px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:10.37px;
	z-index:18;
}
#_idContainer035 {
	-ms-transform:translate(344.982px,225.419px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(344.982px,225.419px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(344.982px,225.419px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(344.982px,225.419px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.45px;
	z-index:4;
}
#_idContainer036 {
	-ms-transform:translate(350.901px,36.477px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(350.901px,36.477px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(350.901px,36.477px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(350.901px,36.477px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.05px;
	z-index:22;
}
#_idContainer037 {
	-ms-transform:translate(355.963px,33.923px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(355.963px,33.923px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(355.963px,33.923px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(355.963px,33.923px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.56px;
	z-index:29;
}
#_idContainer038 {
	-ms-transform:translate(357.497px,54.450px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(357.497px,54.450px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(357.497px,54.450px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(357.497px,54.450px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.29px;
	z-index:16;
}
#_idContainer039 {
	-ms-transform:translate(359.102px,19.671px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(359.102px,19.671px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(359.102px,19.671px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(359.102px,19.671px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:5.86px;
	z-index:13;
}
#_idContainer040 {
	-ms-transform:translate(364.305px,224.387px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(364.305px,224.387px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(364.305px,224.387px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(364.305px,224.387px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:5.35px;
	z-index:5;
}
#_idContainer041 {
	-ms-transform:translate(372.107px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(372.107px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(372.107px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(372.107px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.28px;
	z-index:26;
}
#_idContainer042 {
	-ms-transform:translate(376.189px,71.031px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(376.189px,71.031px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(376.189px,71.031px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(376.189px,71.031px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:6.08px;
	z-index:12;
}
#_idContainer043 {
	-ms-transform:translate(381.524px,225.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(381.524px,225.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(381.524px,225.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(381.524px,225.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.21px;
	z-index:6;
}
#_idContainer044 {
	-ms-transform:translate(393.518px,64.921px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(393.518px,64.921px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(393.518px,64.921px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(393.518px,64.921px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:13.29px;
	z-index:21;
}
#_idContainer045 {
	-ms-transform:translate(394.997px,43.028px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(394.997px,43.028px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(394.997px,43.028px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(394.997px,43.028px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:6.10px;
	z-index:14;
}
#_idContainer046 {
	-ms-transform:translate(399.042px,41.829px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(399.042px,41.829px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(399.042px,41.829px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(399.042px,41.829px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.35px;
	z-index:27;
}
#_idContainer047 {
	-ms-transform:translate(401.256px,224.882px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(401.256px,224.882px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(401.256px,224.882px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(401.256px,224.882px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.30px;
	z-index:7;
}
#_idContainer048 {
	-ms-transform:translate(411.151px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(411.151px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(411.151px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(411.151px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:17.96px;
	z-index:42;
}
#_idContainer049 {
	-ms-transform:translate(421.288px,225.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(421.288px,225.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(421.288px,225.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(421.288px,225.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.21px;
	z-index:8;
}
#_idContainer050 {
	-ms-transform:translate(423.093px,15.206px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(423.093px,15.206px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(423.093px,15.206px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(423.093px,15.206px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:6.91px;
	z-index:25;
}
#_idContainer051 {
	-ms-transform:translate(426.478px,22.606px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(426.478px,22.606px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(426.478px,22.606px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(426.478px,22.606px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:13.23px;
	z-index:23;
}
#_idContainer052 {
	-ms-transform:translate(437.735px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(437.735px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(437.735px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(437.735px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:19.78px;
	z-index:43;
}
#_idContainer053 {
	-ms-transform:translate(440.913px,225.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(440.913px,225.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.34px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(440.913px,225.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(440.913px,225.182px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.51px;
	z-index:9;
}
#_idContainer054 {
	-ms-transform:translate(466.556px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(466.556px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(466.556px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(466.556px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:17.55px;
	z-index:44;
}
#_idContainer055 {
	-ms-transform:translate(494.907px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(494.907px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(494.907px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(494.907px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.50px;
	z-index:45;
}
#_idContainer056 {
	-ms-transform:translate(507.183px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(507.183px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(507.183px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(507.183px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.34px;
	z-index:46;
}
#_idContainer057 {
	-ms-transform:translate(532.118px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(532.118px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(532.118px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(532.118px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.10px;
	z-index:47;
}
#_idContainer058 {
	-ms-transform:translate(573.452px,114.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(573.452px,114.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(573.452px,114.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(573.452px,114.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:17.28px;
	z-index:48;
}
#_idContainer059 {
	-ms-transform:translate(600.654px,114.792px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(600.654px,114.792px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(600.654px,114.792px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(600.654px,114.792px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:21.17px;
	z-index:49;
}
#_idContainer060 {
	-ms-transform:translate(631.920px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(631.920px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(631.920px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(631.920px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:17.05px;
	z-index:50;
}
#_idContainer061 {
	-ms-transform:translate(659.210px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(659.210px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(659.210px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(659.210px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:17.16px;
	z-index:51;
}
#_idContainer062 {
	-ms-transform:translate(684.793px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(684.793px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:19.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(684.793px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(684.793px,114.705px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:19.78px;
	z-index:52;
}
#_idContainer063 {
	display:inline-block;
	height:240px;
	position:relative;
	width:705px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	background-color:#000000;
	border-width:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
